
.header{
	display: flex;
	flex-direction: row;
	margin: 0;
	width: 100%;
	height: 60px;
	background-color: #001529;
	color: white;

	a{
		color: white;
		text-decoration: none;
	}
}

.header nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100px;
	height: 60px;
	line-height: 60px;
	margin-left: 30px;

	p{
		margin: 0 10px;
	}

	&:hover{
		background-color: #0090fe;
	}
}
