
.product-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	li {
		list-style: none;
		border-style: solid;
		border-width: thin;
		border-color: #f3f3f3;
		margin: 20px 5px;
		width: 200px;
		height: 280px;
		padding: 10px;
	}
}

.product {

	img {
		width: 200px;
		height: 200px;
	}

	p {
		margin: 5px;
	}

	.price {
		color: #a19c9c;
		font-size: small;
	}

	button{
		margin: 0;
		padding: 0;
		outline: none;
		position: relative;
		left: 150px;
		width: 30px;
		height: 30px;
		font-size: large;
		border-style: solid;
		border-color: #e3e3e3;
		border-radius: 50%;
	}

}

