
.order-detail{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 30px;
}
.show{
	margin: 0;
	width: 90%;

	thead{
		background-color: #fafafa;
	}

	tr{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		border-bottom: solid 1px #f3f3f3;
		height: 50px;
		line-height: 50px;

		th{
			width: 100px;
			font-size: small;
		}

		td{
			width: 100px;
			font-size: small;
			text-align: center;
			color: #686c6d;
		}

		button{
			background-color: #f5f5f5;
			width: 50px;
			height: 30px;
			border-radius: 5px;
			font-size: 12px;
			color: #fb3d45;
		}
	}

}
