
.create{
	background-color: white;
	width: 90%;
	min-height: 800px;
	margin: 30px 0 0 0;
}

h3{
	text-align: center;
}

label{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0 30px;

	span{
		height: 30px;
		line-height: 30px;
		color: #b60808;
	}

	p{
		font-size: small;
		margin: 0;
		height: 30px;
		line-height: 30px;
	}

}

input{
	margin: 10px 30px;
	width: 90%;
	height: 30px;
}

button{
	display: block;
	margin: 0 30px;
	background-color: #0090fe;
	border-radius: 5px;
	color: white;
	height: 30px;
	width: 60px;
}
