.App {
	background: #f1f2f6;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
}
